:root{ 
    --primary:rgba(255, 253, 182, 0.802);
    --text_color:rgb(255, 255, 252);   
  }
  
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
 
  body{
    background-image: url('Assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  
  .title{
   color:var(--primary);
   text-shadow: 2px 2px 4px rgba(161, 161, 68, 0.5);
   font-family: 'Archivo', sans-serif;
   font-size: 4rem;
   text-align: center;
   margin-top: 1rem;
  }

  .subtitle{
    color:white;
    text-shadow: yellow;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
   }

  .main{
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 50%;
    width: 50%;
    height: 300px;
    margin: auto;
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem
  }

  .content{
    font-size: 1.5rem;
    text-overflow: none;
    padding: 2px;
    text-align: center;
  }

  .location{
    margin-top: 10px;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  button{
    background-color: grey;
    color:white;
    padding: 2px;
    margin: 2px;
    width: 80;
  }
  button:hover{
   background-color: rgb(86, 84, 84);
  }
  button#mapButton {
    margin-top: 1rem;
  }

  .dest {
    height: 40px; 
    width: 300px; 
    margin-bottom: 10px;
    text-align: center;
  }
  
  .start, #mapButton {
    margin: 10px;
    padding: 10px 20px;
  }

  